<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8" >
		<title>Andrew Fitzgerald</title>
		<link rel = "stylesheet" type = "text/css" href = "../style/resume.css">
	</head>
	<body>
	<section class = "abovefold">
	
	</section>
	<section class = "margined">
		<div class = "details_box">
			<h1>Software Developer</h1>
			<img class = "phonePhoto" src = "../images/photo.JPG"  height = "100" width = "100"/></br>
			Andrew Fitzgerald</br>
			andrew.fitzgerald@ucdconnect.ie</br>
			
			<p class = "intro">Hello, I'm Andy. I have just complete year three of my computer science degree
			in University College Dublin. I am starting out my software development career and I am currently
			seeking an internship.</p>
		</div>
		
		<h3>Resume</h3>
		<hr/>
		<h5 class = "expandable">Education</h5>
		<div class = "content">
			<ul class = "education">
				<li>
					<h2 class = "expandable">Leaving Certificate / Secondary Education   -   Points: 545 </h2>
					<ul class = "content">
						<li>Maths</li>
						<li>Technical Graphics</li>
						<li>Physics</li>
						<li>Applied Mathematics</li>
						<li>Accounting</li>
						<li>English</li>
						<li>French</li>
						<li>Irish</li>
					</ul>
				</li>
				<li>
					<h2 class = "expandable">University   -  Current GPA: 3.83 (1st Class Honours)</h2>
					<ul class = "content">
						<h5>Stage 3</h5>
						<li>Program Construction 1</li>
						<li>Introduction to AI</li>
						<li>Networks + Internet Systems</li>
						<li>Object-Oriented Programming</li>
						<li>Graphs + Networks</li>
						<li>Processor Design</li>
						<li>Web Design</li>
						<li>Foundations of Computing</li>
						<li>Software Engineering Project 3</li>
						<li>Computer Graphics</li>
						<li>Information Theory</li>
						
						<h5>Stage 2</h5>
						<li>Data Structures and Algorithms</li>
						<li>Databases and Information Systems</li>
						<li>Discrete Maths for Comp Sci</li>
						<li>Introduction to Java</li>
						<li>Data Structures and Algorithms</li>
						<li>Software Engineering Project 2</li>
						<li>Intro to Operating Systems</li>
						<li>Intro to Functional Programming</li>
						<li>Linear Algebra 3</li>
					</ul>
				</li>
			</ul>
		</div>
		<hr/>
		<h5 class = "expandable">Projects</h5>
		<div class = "content">
				<ul>
					<li>
						<h2 class = "expandable">College Projects</h2>
						<ul class = "content">
							<li class = "project">
								<h2>Monopoly</h2>
								<p class = "proj_text">
								In stage 2 of computer science I completed a module called Software Engineering project 2. In this module we were tasked
								with developing the board game, Monopoly. This was undertaken as part of a team of 3. This module emphasised the use of agile development,
								Scrum framework and git version control.<br><br>
								   <img class = "proj_img" src = "../images/monopoly.PNG" height = "270" width = "480" />
									<ul class = "proj_text">
									<li>Java</li>
									<li>Swing</li>									
									<li>2D Graphics</li>
									<li>GUI Design</li>
									<li>Git</li>
									<li>Agile Development</li>
									<li>Scrum Framework</li>
								</ul>					
								</p>
								<h2>Monopoly Bot</h2>
								<p class = "proj_text">
								We also developed a bot which could play monopoly against other players and other bots. 
								</p>
							</li>
							<li class = "project">
								<h2>Interdimensional Panopoly</h2>
								<p class = "proj_text">
								This year I completed a module called Software Engineering Project 3. The main
								component of this module was to design and implement a procedurally generated version of 
								the classic borad game: Monopoly.This project was undertaken as part of a team of 4. I learned 
								a great deal about agile developement and software design patterns during this module. Our resulting software 
								project consisted of a desktop application, a server application and an android application. The desktop application
								provided a view of the board, the android application provided input for each player and the server was in charge of the game logic
								and communicating between the Desktop and the android applications. Our server ran on AWS. We utilised a database to procedurally generate our 
								game content.<br><br>
								<img class = "proj_img" src = "../images/panopoly.PNG" height = "270" width = "480" />
								<ul class = "proj_text">
									<li>Java + JavaFX + FXML</li>
									<li>CSS</li>
									<li>Networking</li>
									<li>2D Graphics</li>
									<li>GUI Design</li>
									<li>Procedural generation</li>
									<li>Threading</li>
									<li>JSON</li>
									<li>AWS</li>
									<li>Database</li>
									<li>SQL</li>
									<li>Agile Developement</li>
									<li>Software Design Patterns</li>
									<li>Git version control</li>
								</ul>							
								</p>
							</li>
						</ul>
					</li>
					<li>
						<h2 class = "expandable">Self Motivated Projects</h2>
						<ul class = "content">
							<li class = "project">
								<h2>Floatilla</h2>
								<p class = "proj_text">
								   Last summer I started developing a game in unity. I learned a great deal about game develepment, 3D game physics, graphics,
								   C# and blender. The game is set in a world which is flooding.The player must survive by building a boat and scavenging the ocean 
								   for resourcers. The enviroment is continuously changing as more of the world becomes submerged.<br><br>
								   <img class = "proj_img" src = "../images/unityProject.PNG" height = "270" width = "480" />
								<ul class = "proj_text">
									<li>C#</li>
									<li>Unity</li>
									<li>Threading</li>
									<li>3D Graphics</li>
									<li>3D Physics</li>
									<li>Animation</li>
									<li>Blender</li>
								</ul>	
								</p>
							</li>
							<li class = "project">
								<h2>A* Pathfinding</h2>
								<p class = "proj_text"> 
								I recently created a JavaFX application which demonstrates the A* pathfinding algorithm in action. It is written 
								in java using the JavaFX UI library. It shows the constuction of a path between two points in a grid maze.<br><br>
								<ul class = "proj_text">
									<li>Java + JavaFX</li>
									<li>AI</li>
									<li>2D Graphics</li>
								</ul>
									<video class = "proj_vid" width="320" height="240" controls>
									  <source src="../videos/Astar_Pathfinding.mp4" type="video/mp4">
									  Your browser does not support the video tag.
									</video>
								</p>
							</li>
							<li class = "project">
								<h2>Raspberri PI</h2>
								<p class = "proj_text"> 
								I've spent some time creating small raspberri PI projects. These projects involved both hardware and software. 
								Here is an example where I implemented an ultrasound sensor to detect obstacles in proximaty:<br><br>
								<ul class = "proj_text">
									<li>C</li>
									<li>Hardware</li>
									<li>Circuit Design</li>
								</ul>
									<video class = "proj_vid" width="320" height="240" controls muted>
									  <source src="../videos/raspberri.mp4" type="video/mp4">
									  Your browser does not support the video tag.
									</video>
								</p>
								
							</li>
						</ul>
					</li>
				</ul>
		</div>
		<hr/>
		<h5 class = "expandable">Skills</h5>
		<div class = "content">
			<table class = "skills_table">
				<tr>
					<th></th>
					<th>Introduced</th>
					<th>Familier</th>
					<th>Comfortable</th>
					<th>Confident</th>
					<th>Mastered</th>
				</tr>
				<tr>
					<td>Java</td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td></td>
				</tr>
				<tr>
					<td>C++</td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>C</td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>C#</td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Ruby</td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>SQL</td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Lisp</td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>CSS</td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>HTML</td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Javascript</td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>PHP</td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Git</td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td></td>
				</tr>
				<tr>
					<td>Unity</td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td><div class = "level"></div></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
		<hr/>
		<h5 class = "expandable">Other Noteworthy things</h5>
		<div class = "content">
					
			<div class = "project">
								<h2>Oyster Farming</h2>
								<p class = "proj_text">
									Since the age of thirteen I have worked on a family owned oyster farm.
									This is a very physical and demanding Job. It has given me a strong work ethic.
								</p>
								
								<h2>Sailing Intructor</h2>
								<p class = "proj_text" >
									One of my passions is sailing. At the age of 16 I became a fully qualified sailing instructor.<br><br>
								</p>
								
								<ul>
									<li>
										<p class = "proj_text" >
										For 4 summers between 2010 and 2013 I worked as a sailing instructor in Mayo Sailing club.<br>
										</p>
										<ul class = "proj_text">
											<li>Looking after Safety of a group of children.</li>
											<li>Designing and implementing lessons.</li>
											<li>Communication</li>
										</ul>
									</li>
									<br>
									<li>
										<p class = "proj_text">
										For 3 summers between 2014 amd 2017 I worked in America as a keelboat sailing instuctor for Nantucket Community Sailing.
										</p>
										<ul class = "proj_text">
											<li>Looking after Safety of a group of children.</li>
											<li>Designing and implementing lessons.</li>
											<li>Communication</li>
											<li>Maintenance of two 34 foot J105 keelboats</li>
											<li>Chartering / liaisoning private charters</li>
										</ul>
									</li>
								</ul>									
			</div>		
		</div>
		
		<h2>Contact Me</h2>
		
		<form action = "contact.php" method = "post">
		Name:<br><input type = "text" name = "name"><br>
		Email:<br><input type = "text" name = "email"><br>
		Message:<br><textarea name="Message" cols="40" rows="5"></textarea><br>
		<input class = "btn" type = "submit" value = "Send">
		</form>
	</section>
	
	
	</body>
	<script>
		// Adding listeners to section headings
		var sections = document.getElementsByClassName("expandable");
		for(var i = 0; i < sections.length; i++){
			sections[i].addEventListener("click", function(){
			this.classList.toggle("active");
			var content = this.nextElementSibling;
			if(content.style.maxHeight){
				content.style.maxHeight = null;
			}else{
				content.style.maxHeight = content.scrollHeight + "px";
				parent = content.parentNode;
				while(parent.nodeName != "BODY"){
					console.log(parent.className);
					if(parent.className === "content"){
						console.log("inside if");
						parent.style.maxHeight = parent.scrollHeight + "10px";
					}
					parent = parent.parentNode;
				}
			}
			});
		}
		 
		function expand(){
			var para = document.createElement("p");
			var node = document.createTextNode("Some dynamically added text");
			para.appendChild(node);
			sections[0].appendChild(para);
		}
	</script>
</html>